/*
* ==========================================================
*     Main NAVBAR
* ==========================================================
*/
nav.navbar {
  background:#1a75ff;
  padding: .8rem 0;
  /* Navbar Brand --------- */
  /*  Dropdowns ------------ */
  /* Toggle Button ---------- */
}
 .navbar-header{
  background: #1a75ff;
  height: 60px;
  display: flex;
  top: 0;
}

.navbar-header .hamburger{
  width: 80px;
  background: #1a75ff;
  position: relative;
  font-size: 28px;
}

.navbar-header .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.navbar-header .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-header .hamburger div.two{
  top: 10px;
}

.navbar-header .hamburger div.three{
  top: 20px;
}

.navbar-header  .logo{
  margin-left: 60px;
  width: 100%;
}
nav.navbar .side-navbar-wrapper {
  width: 100%;
  height: 100%;
}

nav.navbar .container-fluid {
  width: 100%;
}

nav.navbar .navbar-holder {
  width: 100%;
}

nav.navbar a {
  font-size: .8rem;
  color: #fff;
  position: relative;
}

nav.navbar .badge {
  position: absolute;
  top: 0;
  right: 0;
}

nav.navbar a.language span {
  margin-left: .2rem;
  vertical-align: middle;
}



nav.navbar small {
  font-size: 0.75rem;
  color: #999;
}


nav.navbar .nav-menu {
  margin-bottom: 0;
}

nav.navbar .dropdown-toggle::after {
  border: none !important;
  content: '\f107';
  vertical-align: baseline;
  font-family: 'FontAwesome';
  margin-left: .3rem;
}

nav.navbar .dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  margin-top: 16px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  padding: 1rem;
}

nav.navbar .dropdown-menu .dropdown-item {
  color: #666;
  padding: 10px;
}

nav.navbar .dropdown-menu .dropdown-item:active {
  color: #fff;
}

nav.navbar .dropdown-menu .dropdown-item:active span,
nav.navbar .dropdown-menu .dropdown-item:active small {
  color: #fff;
}

nav.navbar .dropdown-menu .dropdown-item span {
  color: #777;
}

nav.navbar .dropdown-menu .dropdown-item i {
  margin-right: 5px;
}

nav.navbar .msg-body span,
nav.navbar .msg-body strong {
  display: block;
}

nav.navbar .msg-body span {
  font-size: 0.85em;
}

nav.navbar .msg-profile {
  margin-right: 10px;
  width: 50px;
}

nav.navbar .notification-content {
  font-size: .8rem;
  margin-right: .5rem;
}

.sidebar{
  position: fixed;
  top: 85px;
  left: 0;
  width: 225px;
  height: 100%;
  background:#1a75ff;
  transition: all 0.3s ease;
}

.sidebar .sidebar__inner{
  position: relative;
}

.sidebar ul li a{
  color: #fff;
  font-size: 14px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 14px;
}

.sidebar ul li a span{
  display: inline-block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
  background: #fff;
  color: #000;
}

.page_container {
    position:relative;
}

.page_container .main_container{
    position:relative;
    display: block;
}
.page_container .main_container .item {
    display:block;
    margin:0;
    padding:0;
    position:relative
}
/*  NAVBAR MEDIAQUERIES ---------------------------------- */
@media (max-width: 575px) {
  nav.navbar .dropdown {
    position: static;
  }
  nav.navbar .dropdown-menu {
    width: 90vw;
    right: 2.5vw;
    left: 2.5vw;
    margin: 0 auto;
  }
  nav.navbar .notification {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  nav.navbar .dropdown-menu strong {
    font-weight: 400;
  }
  nav.navbar .dropdown-menu a {
    font-size: 0.9em;
  }
}

/* form --------------------------------------------------- */

fieldset {
	border: 0;
	margin: 2rem 0;
}

fieldset legend {
    font-size: 18px;
	font-weight: 500;
}

.answer__item {
    background-color: #f6f6f6;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
	 margin: 0.25rem 0;
}

/* Hide Radio Buttons and Submit Button */
input[type="radio"], button {
  display: none;
}

/* Any correct answer on any answered question, highlight in light green */
:valid .answer__item--is-correct {
    background-color: rgba(61, 181, 64, 0.6)
}


/* Any chosen answer, highlight in red */
:checked + .answer__item { 
    color: #ffffff; 
    background-color: #c70000 
}

/* Any correctly chosen answer, highlight in bright green */
:checked + .answer__item--is-correct { 
    background-color: #3db540; 
}

/* prevent chosing another answer once chosen */
:valid { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none 
}
:valid + .answer__item { 
    pointer-events: none 
}










